@import "../../static/variables.scss";

$padding-horizontal: 20px;
$padding-vertical: 8px;
$height-input: 20px;
$border-radius-default: 20px;
$border-radius-on-focus: 10px;

$this: ".SelectSuggest";

#{$this} {
  position: relative;
  display: flex;
  justify-content: center;

  &__Input {
    transition: background-color $animation-duration-fast,
      border-radius $animation-duration-fast;
    width: 100%;
    display: flex;
    background-color: lighten($color-bg-primary, 5%);
    border: none;
    height: $height-input;
    border-radius: $border-radius-default;
    padding: $padding-vertical $padding-horizontal;
    color: $color-text-primary;
    font-size: $font-size-l;
    outline: none;

    &::placeholder {
      transition: color, $animation-duration-fast;
      color: $color-text-secondary;
      font-size: $font-size-m;
      font-weight: 700;
    }

    &:hover:not(&_active ) {
      background-color: lighten($color-bg-primary, 10%);
    }

    &_active {
      background-color: lighten($color-bg-primary, 15%);
      border-radius: 0;
      border-top-left-radius: $border-radius-on-focus;
      border-top-right-radius: $border-radius-on-focus;

      &::placeholder {
        color: lighten($color-text-secondary, 10%);
      }
    }
  }

  &__Options {
    opacity: 0;
    padding-bottom: 5px;
    visibility: hidden;
    position: absolute;
    top: $height-input + ($padding-vertical * 2);
    transition: opacity, $animation-duration-fast;

    border-radius: $border-radius-on-focus;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    width: 100%;
    background-color: lighten($color-bg-primary, 15%);

    &_item {
      transition: color $animation-duration-fast;
      color: $color-text-primary;
      cursor: pointer;
      padding: $padding-vertical $padding-horizontal;
      text-align: start;

      &:hover {
        color: lighten($color-text-secondary, 10%);
      }
    }

    &_open {
      visibility: visible;
      opacity: 1;
    }
  }
}
