$color-bg-primary: #20233f;
$color-bg-secondary: #f7f7f7;

$color-text-primary: #ffffff;
$color-text-secondary: #5a60a1;

$color-white: white;

$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;

$animation-duration-fast: 0.3s;
$animation-duration-average: 0.4s;
$animation-duration-slow: 0.5s;